body {
  background-color: rgb(234, 234, 234) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-light {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 65px !important;
}
.navbar-light a img {
  height: 45px;
  margin-left: 75px !important;
}

.navbar-light .navbar-brand {
  color: #f8f9fa;
  font-weight: bold;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #e9ecefcb;
}
.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f8f9faa4;
}

.btn-outline-success {
  color: #f8f9fa;
  font-weight: bold;
  background-color: transparent;
  background-image: none;
  border: solid #f8f9fa;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: rgba(238, 240, 240, 0.747);
  border-color: rgba(230, 230, 230, 0.363);
}
.signup {
  margin-right: 85px;
  padding-left: 15px;
  padding-right: 15px;
}
.login {
  padding-left: 15px;
  padding-right: 15px;
}
